* {
    font-family: 'montserrat', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .page {
    background: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
  }
  
 
  
  .newslatter {
    width: 90%;
  }
  
  .newslatter h4 {
    font-style: italic;
    font-size: 12px;
  }
  
  .newslatter input, .newslatter button {
    display: block;
    margin: 12px auto;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 14px 20px;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
  }
  .newsletter-col{
    width: 100%;
    align-items: center;
    text-align: center;
  }
  
 
  


  .page h1{
    display: inline-block;
    width: 100%;
    text-align: center;
  }